 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 540px;
}

.u-section-1 .u-layout-wrap-1 {
  background-image: none;
  margin: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 426px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 259px;
  height: 259px;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  margin: 32px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 426px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  width: 371px;
  height: 371px;
  margin: -31px auto 0 -34px;
}

.u-section-1 .u-text-2 {
  margin: -49px auto 0 51px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 426px;
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-image-3 {
  width: 261px;
  height: 261px;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  margin: 30px auto 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 426px;
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-image-4 {
  width: 260px;
  height: 260px;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  background-image: none;
  margin: 31px auto 0;
}

.u-section-1 .u-text-5 {
  margin: 8px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 465px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 351px;
  }

  .u-section-1 .u-image-1 {
    width: 235px;
    height: 235px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 29px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 351px;
  }

  .u-section-1 .u-image-2 {
    width: 235px;
    height: 235px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 87px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 351px;
  }

  .u-section-1 .u-image-3 {
    width: 235px;
    height: 235px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 351px;
  }

  .u-section-1 .u-image-4 {
    width: 235px;
    height: 235px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 314px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 345px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 414px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 292px;
  }
}